body {
  font-family: "Poppins", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #5e5b5bad;
  color: #333333;
}

body.modo-escuro {
  background-color: #212121;
  color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

header .logo {
  width: 70px;
  transition: 0.2s ease-in-out;
  }

header .imagem-botao {
  width: 70px;
  transition: 0.2s ease-in-out;
 

}

header #botao-alterar-tema {
  background: none;
  border: none;
}

header .logo:hover,
.imagem-botao:hover, .logo-central:hover,
main .cartao-pokemon:hover {
  transform: scale(1.06);
  cursor: pointer;
}

header .logo-central{
    width: 200px;
    align-items: center;
    padding: auto;
    
}

main {
  padding: 25px;
}

main .listagem-pokemon {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

main .cartao-pokemon {
  background-color: #d8e3ec;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
  border: 3px solid #333333;
}

main .cartao-pokemon:hover {
  background-color: #96d9e6;
}

.modo-escuro .cartao-pokemon {
  background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes {
  display: flex;
  justify-content: space-between;
  border: 3px solid #333333;
  border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
  padding: 5px;
  text-transform: uppercase;
  font-size: 17px;
}

main .cartao-pokemon .gif {
  width: 100px;
  height: 100px;
  
}

main .cartao-pokemon .tipos {
  display: flex;
  gap: 15px;
}

main .cartao-pokemon .tipo-grama,
.tipo-veneno,
.tipo-fogo,
.tipo-agua,
.tipo-inseto,
.tipo-voador,
.tipo-eletrico {
  padding: 8px;
  border-radius: 10px;
}

.tipo-grama {
  background-color: #7ac74c;
}

.tipo-veneno {
  background-color: #df67ddfb;
}

.tipo-fogo {
  background-color: #ee8130;
}

.tipo-agua {
  background-color: #6390f0;
}

.tipo-inseto {
  background-color: #a6b91a;
}

.tipo-voador {
  background-color: #51a6d8fb;
}

.tipo-eletrico {
    background-color: #d4cc4ffb;
  }



main .descricao {
  max-height: 80px;
  font-size: 14px;
  padding-right: 10px;
}


.titulo{
  text-align: center;
  font-style:initial;
  color: #FFFF66;
  font-size: 100px;
}










